:host {
    display: block;
    overflow: hidden;
    position: relative;
}

.controls {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    opacity: .2;
    transition: opacity 100ms ease-in-out;
    &:hover {
        opacity: 1;
    }
    > div {
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--secondary);
        margin: var(--space-2);
        line-height: 1em;
        height: 24px;
        width: 24px;
    }
}

.testimonials {
    transition: 250ms ease-in-out;
    white-space: nowrap;
}

.testimonial {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    padding: var(--space-3) var(--space-5);
    border-radius: 1rem;
    background-color: white;
    background-color: #efefef;
    width: 100%;
    text-align: center;
    p {
        margin: 0;
        &:before{
            content: "“";
        }
        &:after {
            content: "”";
        }
    }
    div {
        font-size: 0.8rem;
        // text-align: right;
        margin-top: 0.5rem;
        opacity: .7;
        &:before {
            content: '-'
        }
    }
}