blockquote {
  position: relative;
  padding-left: 30px;
  font-weight: 900;
  color: var(--type-color);
  padding: var(--space-5) var(--space-5) var(--space-1) 0;
  max-width: 33em;
  font-size: 24px;
  &:before {
    content: "“";
    font-family: serif;
    position: absolute;
    left: 0;
    font-size: 92px;
    line-height: 0px;
    top: var(--space-5);
    color: (--green);
    opacity: .2;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 80px;
    height: 5px;
    background: var(--orange);
    left: 0;
  }
}