<app-heading size="h1">Welcome to Aer UI</app-heading>
<p>This is a demo of the UI components</p>  


<app-heading size="h2">Getting Started</app-heading>
<p>This is a collection of Angular UI components. </p>
<p>Source code is at Github <a href="https://github.com/arron21/ui-components">https://github.com/arron21/ui-components</a>.</p>

<app-heading size="h2">Styling the components</app-heading>
<p>The components are styled using CSS variables. You can override the variables in the ui/css/_theme.scss file.
</p>
