<app-heading size="h1">Welcome to Blonkz UI</app-heading>
<p>This is a demo of the UI components</p>  


<app-heading size="h2">Getting Started</app-heading>    
<p>To get started, you can run the following command to run the installation script.</p>
<pre><code>npx &#64;blonkz&#64;latest init</code></pre>

<app-heading size="h2">Importing Components</app-heading>
<p>After installing the package, you can import the components you need into your project.</p>
<pre><code>npx &#64;blonkz&#64;latest add card</code></pre>

<app-heading size="h2">Styling the components</app-heading>
<p>The components are styled using CSS variables. You can override the variables in the ui/css/_theme.scss file.</p>
<p>You may also modify and of the other CSS files to better suit your needs.</p>
