<demo-code-snippet [snippet]="snippet"></demo-code-snippet>
<app-header>Header</app-header>
<app-header [sticky]="true">Sticky Header 1</app-header>
<div style="height: 800px; align-content: center; text-align: center; background-color: oklch(0.79 0.15 16.81);">I am 800px tall and help demonstrate sticky header 1</div>
<app-header [sticky]="true">Sticky Header 2</app-header>
<div style="height: 800px; align-content: center; text-align: center; background-color: oklch(0.79 0.15 66.81);">I am 800px tall and help demonstrate sticky header 2</div>
<app-header [sticky]="true">Sticky Header 3</app-header>
<div style="height: 800px; align-content: center; text-align: center; background-color: oklch(0.79 0.15 120.81);">I am 800px tall and help demonstrate sticky header 3</div>
