.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'nav main';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}
app-nav {
    grid-area: 'nav';
}
.router {
    grid-area: 'main';
}
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
