
<app-header shiftBg="var(--green)" [fixed]="true">
    <div class="kitchen-sink-top-nav">
        <img style="height: 44px;" src="/assets/img/one.png"/>
        <a href="/kitchen-sink#header">A Scrolling, Color Changing Header</a>
        <div class="kitchen-sink-top-nav__menu">Fake Menu</div>
    </div>
</app-header>
<section class="content-grid">
    <app-heading size="h1">The Kitchen Sink <app-badge variant="subtle">v.04</app-badge></app-heading>


    <app-heading  >Buttons</app-heading>
    <app-button>Button</app-button>
    <app-heading  >Badge</app-heading>
    <app-badge>Badge</app-badge>
    <app-heading  >Card</app-heading>
    <app-card>Card</app-card>

    <app-heading id="header"  >Header</app-heading>
    <p>The sticky color changing header is an <code>app-header</code></p>

    <app-heading  >Heading</app-heading>
    <app-heading size="h2">This is a heading</app-heading>

    <app-heading  >Hero</app-heading>
    <app-hero heroText="Video Background" heroTextSecondary="auto play loop" video="/assets/video/9785924-hd_1920_1080_25fps.mp4" />


    <app-heading  >Quote</app-heading>
    <app-quote text="What a lovely quote">This is a heading</app-quote>

    <app-heading  >Social</app-heading>
    <app-social facebook="https://www.facebook.com/#" instagram="https://www.instagram.com/#" youtube="https://www.youtube.com/c/#" twitter="https://twitter.com/#" tiktok="https://www.tiktok.com/@#" />
</section>