/* You can add global styles to this file, and also import other style files */

@use  "../ui/css/styles";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


pre {
    display: block;
    background-color: var(--off-background);
    padding: var(--space-1);
    border-radius: var(--roundness);
    code {
        font-family: monospace;
    }
}