:root {
  --h1: 36px;
  --h2: 28px;
  --h3: 20px;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
  margin-bottom: var(--space-3);
}

p {
  line-height: 1.65em;
  margin-bottom: var(--space-4);
}

.text-muted {
  color: color-mix(in srgb, currentColor 10%, #676767);
}

.text-center {
  text-align: center;
}
