<demo-code-snippet [snippet]="markdown"></demo-code-snippet>
<section>
    <app-button>solid</app-button>
    <app-button variant="outline">outline</app-button>
    <app-button variant="ghost">ghost</app-button>
    <app-button variant="link">link</app-button>
    <app-button [disabled]="true">disabled</app-button>
</section>
<section>
    <app-button size="xs">xs</app-button>
    <app-button size="sm">sm</app-button>
    <app-button size="md">md</app-button>
    <app-button size="lg">lg</app-button>
    <app-button size="xl">xl</app-button> 
</section>